@{
    ViewBag.Title = "AdminUserPage";
}
<link href="~/Content/Css/irctc.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/CommonJs.js"></script>

<script>
    var TeamDetailPostBackURL = '/Admin/AdminUserPage';
    $(function () {
        $(".Adminpage").click(function () {

            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            alert(id);
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "type": id },
                datatype: "json",
                success: function (data) {

                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function (XHR, errorText, status) {
                    console.log(XHR.responseText);
                }
            });
        });


        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });

</script>

<div _ngcontent-c9="" class="iconsection">
    <h2 _ngcontent-c9="">Admin Console<br _ngcontent-c9="">Welcome</h2>
    <ul _ngcontent-c9="">
        <li _ngcontent-c9="">
            <a>

                <span _ngcontent-c9="" class="allcircle circleone"></span>  <img src="~/Content/Image/Icons/money.ico" style="width:50%; height:10%"><label _ngcontent-c9="">@Html.ActionLink("Add Movie", "AddMovie", "Admin")</label>
            </a>
        </li>
        <li _ngcontent-c9="">
            <span _ngcontent-c9="" class="allcircle circletwo"></span>
            <label _ngcontent-c9=""><a href="javascript:void(0);" class="Adminpage" data-id="AddTicket">Add Seats</a></label>
        </li>
        <li _ngcontent-c9="">
            
                <span _ngcontent-c9="" class="allcircle circlethree"></span>
                <label _ngcontent-c9=""><a href="javascript:void(0);" class="Adminpage" data-id="ChangePrice">Updat Ticket Price</a></label>
            
        </li>
        <li _ngcontent-c9="">
           
                <span _ngcontent-c9="" class="allcircle circlefour"></span><label _ngcontent-c9="">@Html.ActionLink("Feedbacks", "ViewFeedback", "Admin")</label>
            
        </li>
        <br _ngcontent-c9="" class="none991">
        <li _ngcontent-c9="">
            <a _ngcontent-c9="" href="" target="_blank">
                <span _ngcontent-c9="" class="allcircle circlefive"></span>
                <label _ngcontent-c9="">@Html.ActionLink("Screens Info", "MovieInfo", "Admin")</label>
            </a>
        </li>
        <li _ngcontent-c9="">
            <a _ngcontent-c9="" href="" target="_blank">
                <span _ngcontent-c9="" class="allcircle circlesix"></span><label _ngcontent-c9="">2</label>
            </a>
        </li>
        <li _ngcontent-c9="">
            <a _ngcontent-c9="" href="" target="_blank">
                <span _ngcontent-c9="" class="allcircle circleseven"></span><label _ngcontent-c9="">
                    3
                </label>
            </a>
        </li>
        <li _ngcontent-c9="">
            <a _ngcontent-c9="" href="" target="_blank">
                <span _ngcontent-c9="" class="allcircle circleight"></span><label _ngcontent-c9="">
                    4
                </label>
            </a>
        </li>
        <li _ngcontent-c9="">
            <a _ngcontent-c9="" href="" target="_blank">
                <span _ngcontent-c9="" class="allcircle circlenine"></span><label _ngcontent-c9="">5</label>
            </a>
        </li>
    </ul>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent' align="center"></div>
        </div>
    </div>
</div>