@model WebApplication2.Models.AddSeats
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4>AddSeat</h4>
        <table>
            <tbody>
                <tr>
                    <th><label>Screen</label></th>
                    <td>@Html.DropDownList("ScreenId", (IEnumerable<SelectListItem>)ViewBag.Screen, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <th><label class="control-label col-xs-4">Class</label></th>
                    <td> @Html.DropDownList("Classid", (IEnumerable<SelectListItem>)ViewBag.Class, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <th><label class="control-label col-xs-4">Seats</label></th>
                    <td>@Html.TextBoxFor(model => model.NoofTickets, null, null)</td>
                </tr>
                <tr>
                   
                    <td>
                        <button type="submit" class="btn btn-sm" formaction="AddSeats">Add</button> <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>

    }
</div>

@if (ViewBag.Message != null)
{
    <script>

$(document).ready(function(){

alert('Seat Updated');

});

    </script>

}


