@model WebApplication2.Models.ChangePrice

@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>

</head>
<body>
    <div>
        <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Chance Price</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <table>
                <tbody>

                    <tr>
                        <th><label class="control-label col-xs-4">Class</label></th>
                        <td> @Html.DropDownList("Classid", (IEnumerable<SelectListItem>)ViewBag.Class, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <th><label class="control-label col-xs-4">Amount</label></th>
                        <td>@Html.TextBoxFor(model => model.Amount, null, null)</td>
                    </tr>
                    <br/>   
                    <tr>
                      
                        <td><button  class="btn btn-sm" type="submit" formaction="ChangePrice">Update Price</button></td>
                    </tr>
                </tbody>
            </table>

        }
        <br/>
    </div>
</body>
</html>

@if (ViewBag.Message != null)
{
    <script>

$(document).ready(function(){

alert('Price Updated');

});

    </script>

}
