@{
    ViewBag.Title = "About";
}

@*<script src="~/Content/Css/LayoutMenu/bootstrap.min.js"></script>
<link href="~/Content/Css/LayoutMenu/menuintest.css" rel="stylesheet" />*@




<!DOCTYPE html>
<html lang="en">
<head>
    <title>Labs - Design Studio</title>
    <meta charset="UTF-8">
    <meta name="description" content="Labs - Design Studio">
    <meta name="keywords" content="lab, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Fonts -->
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/Css/Home/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Css/Home/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Css/Home/flaticon.css" />
    <link rel="stylesheet" href="~/Content/Css/Home/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/Css/Home/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/Css/Home/style.css" />



</head>
<body>
    <!-- Page Preloder -->
    @*<div id="preloder">
            <div class="loader">
                <img src="i~/Content/Css/Home/Img/logo.png" alt="">
                <h2>Loading.....</h2>
            </div>
        </div>*@


    <!-- Header section -->
    <!-- Header section end -->
    <!-- Intro Section -->
    <div class="hero-section">
        @*<img src="~/Content/Css/Home/Img/101.jpg" />*@

        <!-- slider -->
        <div id="hero-slider" class="owl-carousel">
            <div class="item  hero-item" data-bg="https://moviesendpoint.azureedge.net/Content/Css/Home/Img/101.jpg"> <img src="https://moviesendpoint.azureedge.net/Content/Css/Home/Img/101.jpg" style="height:100%" /></div>

            <div class="item  hero-item" data-bg="https://moviesendpoint.azureedge.net/Content/Css/Home/Img/02.jpg"><img src="https://moviesendpoint.azureedge.net/Content/Css/Home/Img/02.jpg" /></div>
        </div>
    </div>
    
    <div class="about-section">
        <div class="overlay"></div>
        <!-- card section -->
        <div class="card-section">
            <div class="container">
                <div class="row">
                    <!-- single card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="lab-card">
                            <div class="icon">
                                <i class="flaticon-023-flask"></i>
                            </div>
                            <h2>Screen-1</h2>
                            <img src="https://moviestorageaccount.blob.core.windows.net/moviewebapp/Screen1.jpg" style="height:50%" />
                            <p>NUN</p>
                        </div>
                    </div>
                    <!-- single card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="lab-card">
                            <div class="icon">
                                <i class="flaticon-011-compass"></i>
                            </div>
                            <h2>Screen-2</h2>
                            <img src="https://moviestorageaccount.blob.core.windows.net/moviewebapp/Screen2.jpg" />
                            <p>Chekka Chivantha Vaanam</p>
                        </div>
                    </div>
                    <!-- single card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="lab-card">
                            <div class="icon">
                                <i class="flaticon-037-idea"></i>
                            </div>
                            <h2>Screen-3</h2>
                            <img src="https://moviestorageaccount.blob.core.windows.net/moviewebapp/Screen3.jpg" />
                            <p>SAMY2</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="lab-card">
                            <div class="icon">
                                <i class="flaticon-037-idea"></i>
                            </div>
                            <h2>Screen-4</h2>
                            <img src="https://moviestorageaccount.blob.core.windows.net/moviewebapp/Screen4.jpg" />
                            <p>Chekka Chivantha Vaanam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card section end-->
    <!-- About contant -->
    
        
        <!-- About section end -->
        <!-- Testimonial section -->
       
        <!-- Testimonial section end-->
        <!-- Services section -->
        
        <!-- services section end -->
        <!-- Team Section -->
        
        <!-- Team Section end-->
        <!-- Promotion section -->
    
        <!-- Promotion section end-->
        <!-- Contact section -->
        
    <!-- Contact section end-->
    <!-- Footer section -->
    <footer class="footer-section">
        <h2>2017 All rights reserved. <a href="" target="_blank">Colours Cini Plx</a></h2>
    </footer>
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Css/Home/js/bootstrap.min.js"></script>
    <script src="~/Content/Css/Home/js/magnific-popup.min.js"></script>
    <script src="~/Content/Css/Home/js/owl.carousel.min.js"></script>
    <script src="~/Content/Css/Home/js/circle-progress.min.js"></script>
    <script src="~/Content/Css/Home/js/main.js"></script>
</body>
</html>




@*<header class="header-section">
        <div class="logo">
            <img src="~/Content/Image/Icons/logo1.png" alt=""><!-- Logo -->
        </div>
        <!-- Navigation -->
        <div class="responsive"><i class="fa fa-bars"></i></div>
        <nav>
            <ul class="menu-list">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </nav>
    </header>*@